<div>
    
    <h2>utilisateur existant</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Role</th>
                    <th>Ajouter</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td *ngIf="!this.self.contact.includes(user._id) && !this.self.contact.includes(user.email) && user._id !== this.id">{{user.name}}</td>
                    <td *ngIf="!this.self.contact.includes(user._id) && !this.self.contact.includes(user.email) && user._id !== this.id">{{user.role}}</td>
                    <td *ngIf="!this.self.contact.includes(user._id) && !this.self.contact.includes(user.email) && user._id !== this.id">
                        <button (click)="btnAdd(user._id)" class="add">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
    <p class="redirect"><a href="/adduser">ajouter un utilisateur qui n'existe pas</a></p>
</div>