<div class="form_container">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <!--<input type="text" value={{self.name}}>
        <input type="text" value={{self.email}}>
        <input type="text" value={{self.password}}>
        <input type="text" value={{self.contact}}>-->
        <div class="group">
            <label for="role">Role</label>
            <select name="role" id="role" [(ngModel)]="self.role" #role="ngModel" required>
                <option value="Guerrier">Guerrier</option>
                <option value="Alchimiste">Alchimiste</option>
                <option value="Sorcier">Sorcier</option>
                <option value="Espions">Espions</option>
                <option value="Enchanteur">Enchanteur</option>
            </select>
            <div class="form_error" *ngIf="role.errors && f.submitted">
                <p>Role is required !</p>
            </div>
        </div>
        <div class="group">
            <button>Login</button>
        </div>
    </form>
</div>