.form_container{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.form_container .group{
    margin-bottom: 15px;
}

.form_container label{
    display: block;
    font-size: 1.5em;
}
.form_container input{
    font-size: 1.5em;
}
.form_container select{
    font-size: 1.5em;
    width: 12em;
}

.form_container button{
    width: 12em;
    margin: auto;
    font-size: 1.5em;
    margin: 0 auto;
}

.form_error{
    color: red;
}

.form_container a{
    color: black;
    font-size: 1.5em;
}

.form_container a:hover{
    color: red;
}