table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.2em;
}

table{
    margin: 2em auto;
    text-align: center;
    padding: 1em;
}

th, td{
    padding: 0.5em 1em;
}

.delete{
    background-color: rgb(198, 80, 80);
    color: white;
    border: none;
    padding: 7px 15px;
    font-weight: bold;
    box-shadow: 2px 2px 5px red;
}
.delete:hover{
    background-color: rgba(198, 80, 80, 0.5);
}